<header class="header">
  <div class="container_header">
    <div class="header_menu">
      <ul>
        <li><a href="#"><img src="../../assets/img/LogoNetflix.png" alt="LogoNetflix"></a></li>
        <li><a href="#">Início</a></li>
        <li><a href="#">Séries</a></li>
        <li><a href="#">Filmes</a></li>
        <li><a href="#">Adicionados recentemete</a></li>
        <li><a href="#">Minha lista</a></li>
      </ul>
    </div>

    <div class="header__options">
      <ul>
        <li><a href="#">SEARCH</a></li>
        <li><a href="#">INFANTIL</a></li>
        <li><a href="#">NOVIDADE</a></li>
        <li><a href="#">LOGOUT</a></li>
      </ul>
    </div>
  </div>
</header>