<header class="header">
  <div class="container_header">
    <div class="header_menu">
      <ul>
        <li><a href="#"><img src="../../assets/img/LogoNetflix.png" alt="LogoNetflix"></a></li>
        <li><a href="#">Início</a></li>
        <li><a href="#">Séries</a></li>
        <li><a href="#">Filmes</a></li>
        <li><a href="#">Adicionados recentemete</a></li>
        <li><a href="#">Minha lista</a></li>
      </ul>
    </div>

    <div class="header__options">
      <ul>
        <li><a href="#"><img src="../../assets/img/search-img.png" alt="search-img"></a></li>
        <li><a href="#">INFANTIL</a></li>
        <li><a href="#"><img src="../../assets/img/news-img.png" alt="news-img"></a></li>
        <li><a href="#"><img class="profile-img" src="../../assets/img/profile.png" alt="profile-img"></a></li>
      </ul>
    </div>
  </div>

  <div class="header_buttons">
    <button>Assistir</button>
    <button>Minha lista</button>
  </div>

  <div class="header_restriction">
    <span>18</span>
  </div>
</header>