<body>
  <div class="main-header">
    <img src="../../assets/img/LogoNetflix.png" alt="logo-netflix">
  </div>

  <div class="list-profiles">
    <div class="title-profile">Quem está assistindo?</div>

    <div class="choose-profile">
      <li><a href="#"><img src="../../assets/img/profile.png" alt="profile-img"></a><p>Vitor</p></li>
      <li><a href="#"><img src="../../assets/img/profile-3.png" alt="profile-img"></a><p>Wuzi</p></li>
      <li><a href="#"><img src="../../assets/img/profile-2.png" alt="profile-img"></a><p>Igão</p></li>
      <li><a href="#"><img src="../../assets/img/profile-blue.png" alt="profile-img"></a><p>Vitin</p></li>
      <li><a href="#"><img src="../../assets/img/profile-kids.png" alt="profile-img"></a><p>Gabriel</p></li>
    </div>

    <span class="profile-btn ">
        <a href="#">GERENCIAR PERFIS</a>
    </span>
  </div>
</body>